.add-review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name-fild{
    background-color: lightgray;
    margin-bottom: 20px;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    outline: rgb(224, 128, 64);

}
.input-area{
    background-color: lightgray;
    margin-bottom: 20px;
    padding: 40px 60px;
    border: none;
    border-radius: 20px;
    text-align: left;
}

.submit-btn{
    background-color: rgb(224, 128, 64);
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 16px;
    margin-left: 98px;
}
.rating{
    background-color: lightgray;
    margin-bottom: 20px;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    outline: rgb(224, 128, 64);
}
@media (max-width: 767.98px){

}