.info-card{
    border: 1px solid gray;
    width: 350px; 
    margin:10px;
    padding: 20px;
    height: 700px;
}
.info-card>img{
    margin-left: 30px;
}
.Name-2 {
    display: inline;
}
.Delete{
    margin-top: 10px;
    margin-left: 80px;
    background-color: rgb(224, 128, 64);;
}
